<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>ASOS</title>
</head>
<body>
    <nav class="flex items-center justify-between">
        <span>tu je akoze lista horna</span>
        <div>profil</div>
    </nav>

    <div class="fixed w-fit inset-0 bg-emerald-400">
        <div>
            tu bude obsah modalu cez {%
        </div>
    </div>

    {% block content %} {% endblock %}
</body>
</html>