{% extends "base.html" %}
{% block content %}
<main class="min-h-[calc(100vh-80px)] p-4 pt-[80px]">
    <a href="{% url 'home' %}" class="text-gray-500 hover:text-red-400 hover:underline flex items-center">
        <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-left"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M15 6l-6 6l6 6" /></svg>
        Back
    </a>

    <div class="bg-white grid grid-cols-1 md:grid-cols-2 gap-8 mt-6">
        <div class="max-w-[1000px]">
            {% for attachment in post.attachments.all %}
            <div class="mySlides relative">
                <img src="{{ attachment.file.url }}" alt="Attachment Image" class="w-full rounded-xl">
                <a class="absolute top-1/2 left-0 p-2 text-white font-bold text-[18px] select-none hover:bg-black/50 p-3 rounded-r-md cursor-pointer -translate-y-1/2 transition-colors" onclick="plusSlides(-1)">❮</a>
                <a class="absolute top-1/2 right-0 p-2 text-white font-bold text-[18px] select-none hover:bg-black/50 p-3 rounded-l-md cursor-pointer -translate-y-1/2 transition-colors" onclick="plusSlides(1)">❯</a>
            </div>
            {% empty %}
                <p class="text-gray-500">No attachments available.</p>
            {% endfor %}

            <div class="flex justify-center mt-4 gap-1">
                {% for attachment in post.attachments.all %}
                    <div class="dot size-3 bg-gray-400 rounded-full cursor-pointer" onclick="currentSlide({{ forloop.counter }})"></div>
                {% endfor %}
            </div>
        </div>

        <div>
            <h1 class="text-3xl font-bold">{{ post.title }}</h1>
            <p class="font-medium text-gray-500 mt-1">Categories: {{ post.category.name }}</p>
            <p class="text-gray-500 mt-2">By {{ post.author.username }}</p>
            <p class="text-gray-600 mt-3">{{ post.description }}</p>

            <!-- Like Display -->
            <div class="flex items-center mt-2 gap-2">
                <!-- Like -->
                <div class="relative group">
                    <form hx-post="{% url 'post_like' post_id=post.id %}" hx-trigger="submit" class="w-full">
                        {% csrf_token %}
                        <input type="hidden" name="like_type" value="like" required>
                        <button type="submit" class="text-blue-500 cursor-pointer">👍 {{ post.like_count }}</button>
                    </form>
                    <div class="absolute left-0 w-max bg-white border rounded-lg shadow-lg p-2 hidden group-hover:block">
                        {% for user in post.like_authors %}
                            <p class="text-sm">{{ user }}</p>
                        {% empty %}
                            <p class="text-sm text-gray-500">No likes yet</p>
                        {% endfor %}
                    </div>
                </div>

                <!-- Heart -->
                <div class="relative group">
                    <form hx-post="{% url 'post_like' post_id=post.id %}" hx-trigger="submit" class="w-full">
                        {% csrf_token %}
                        <input type="hidden" name="like_type" value="heart" required>
                        <button type="submit" class="text-red-500 cursor-pointer">❤️ {{ post.heart_count }}</button>
                    </form>
                    <div class="absolute left-0 w-max bg-white border rounded-lg shadow-lg p-2 hidden group-hover:block">
                        {% for user in post.heart_authors %}
                            <p class="text-sm">{{ user }}</p>
                        {% empty %}
                            <p class="text-sm text-gray-500">No hearts yet</p>
                        {% endfor %}
                    </div>
                </div>

                <!-- Laugh -->
                <div class="relative group">
                    <form hx-post="{% url 'post_like' post_id=post.id %}" hx-trigger="submit" class="w-full">
                        {% csrf_token %}
                        <input type="hidden" name="like_type" value="laugh" required>
                        <button type="submit" class="text-yellow-500 cursor-pointer">😂 {{ post.laugh_count }}</button>
                    </form>
                    <div class="absolute left-0 w-max bg-white border rounded-lg shadow-lg p-2 hidden group-hover:block">
                        {% for user in post.laugh_authors %}
                            <p class="text-sm">{{ user }}</p>
                        {% empty %}
                            <p class="text-sm text-gray-500">No laughs yet</p>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="mt-5">
                <h2 class="text-xl font-semibold">{{ comment_count }} Comments</h2>
                <div class="space-y-2">
                    {% for comment in top_lvl_comments %}
                        {% include "comment.html" with comment=comment %}
                    {% endfor %}
                </div>
                <div class="relative w-fit mt-4">
                    <form hx-post="{% url 'add_comment' post_id=post.id %}"
                          hx-trigger="submit"
                          class="w-full">
                        {% csrf_token %}
                        <input type="text"
                               name="text"
                               placeholder="Add a comment"
                               class="border-2 border-gray-300 rounded-full p-3 pl-4 pr-10 w-[350px]"
                               required>

                        <button type="submit"
                                class="absolute top-1/2 -translate-y-1/2 right-4 text-gray-500 hover:text-red-400">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round"
                                 class="icon icon-tabler icons-tabler-outline icon-tabler-send">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <path d="M10 14l11 -11"/>
                                <path d="M21 3l-6.5 18a.55 .55 0 0 1 -1 0l-3.5 -7l-7 -3.5a.55 .55 0 0 1 0 -1l18 -6.5"/>
                            </svg>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

<script>
    let slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        let i;
        let slides = document.getElementsByClassName("mySlides");
        let dots = document.getElementsByClassName("dot");
        if (n > slides.length) {slideIndex = 1}
        if (n < 1) {slideIndex = slides.length}
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" !bg-gray-600", "");
        }
        slides[slideIndex-1].style.display = "block";
        dots[slideIndex-1].className += " !bg-gray-600";
    }
</script>
{% endblock content %}