.h-68 {
    height: 17rem;
}
.masonry {
    width: 14rem;
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.masonry > a {
    transform: translateY(0);
}

@media (min-width: 640px) {
    .masonry {
        width: 29rem
    }

    .masonry > a {
        transform: translateY(0);
    }
    .masonry > a:nth-child(even){
        transform: translateY(12rem);
    }
}

@media (min-width: 768px) {
    .masonry {
        width: 44rem
    }

    .masonry > a {
        transform: translateY(0);
    }
    .masonry > a:nth-child(even){
        transform: translateY(0);
    }
    .masonry > a:nth-child(3n + 2) {
        transform: translateY(12rem);
    }
    
}

@media (min-width: 1024px) {
    .masonry {
        width: 59rem
    }
    .masonry > a:nth-child(3n + 2) {
        transform: translateY(0);
    }
    .masonry > a:nth-child(even){
        transform: translateY(12rem);
    }
}

@media (min-width: 1280px) {
    .masonry {
        width: 74rem
    }
    .masonry > a:nth-child(even){
        transform: translateY(0);
    }
    .masonry > a:nth-child(3n + 2) {
        transform: translateY(0);
    }
    .masonry > a:nth-child(5n + 2),
    .masonry > a:nth-child(5n + 4) {
        transform: translateY(12rem);
    }
}

@media (min-width: 1536px) {
    .masonry {
        width: 89rem
    }
    .masonry > a:nth-child(3n + 2) {
        transform: translateY(0);
    }
    .masonry > a:nth-child(5n + 2),
    .masonry > a:nth-child(5n + 4) {
        transform: translateY(0);
    }
    .masonry > a:nth-child(even){
        transform: translateY(12rem);
    }
}