<div id="create-post-modal" hx-get="{% url 'home' %}" hx-swap="delete"
     class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50">
    <div onclick="event.stopPropagation()" class="bg-white shadow-xl min-w-[600px] max-w-[800px] p-12 rounded-3xl">
        <div class="flex flex-inline items-center gap-3 mb-8">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" fill="#dc2626"
                 class="icon icon-tabler icons-tabler-filled icon-tabler-edit">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M15 5l4 4l-9 9h-4v-4z"/>
                <path d="M12 3l3 3"/>
            </svg>
            <h2 class="text-3xl font-medium">Create a New Post</h2>
        </div>

        <form hx-post="{% url 'create-post' %}" hx-target="#create-post-modal" hx-swap="outerHTML"
              class="flex flex-col gap-2 min-w-[600px]" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="flex flex-inline gap-3">
                <div class="form-group flex flex-col gap-1">
                    {{ post_form }}
                </div>
                <div class="form-group flex flex-col gap-1 text-white">
                    <div class="relative">
                        <svg id="input-svg" xmlns="http://www.w3.org/2000/svg"  width="45"  height="45"  viewBox="0 0 24 24"  fill="none"  stroke="#bbb"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="absolute top-1/2 left-1/2 -translate-x-1/2 translate-y-[calc(50%-28px)]"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M15 8h.01" /><path d="M12.5 21h-6.5a3 3 0 0 1 -3 -3v-12a3 3 0 0 1 3 -3h12a3 3 0 0 1 3 3v6.5" /><path d="M3 16l5 -5c.928 -.893 2.072 -.893 3 0l3.5 3.5" /><path d="M14 14l1 -1c.679 -.653 1.473 -.829 2.214 -.526" /><path d="M19 22v-6" /><path d="M22 19l-3 -3l-3 3" /></svg>
                        {{ attachment_form.as_p }}
                    </div>
                    <div class="flex flex-col items-center">
                        <div id="image-preview-header"
                             class="w-48 h-48 rounded-2xl border border-gray-300 flex items-center justify-center hidden">
                            <img id="image-preview" class="rounded-2xl" style="max-width: 100%; max-height: 100%;"/>
                        </div>
                        <button id="delete-image"
                            class="mt-2 hidden bg-red-600 hover:bg-red-700 text-white py-1 px-4 rounded-full"
                            onclick="deleteImage(event)">Delete Image
                        </button>
                    </div>
                </div>
            </div>
            <button type="submit" class="bg-red-600 hover:bg-red-700 text-white py-2.5 mt-4 rounded-full font-medium">
                Create Post
            </button>
        </form>
    </div>
</div>

<style>
.file-input::file-selector-button {
  display: none;
  color: white;
}
</style>

<script>
    function previewImage(event) {
    const input = event.target;
    const preview = document.getElementById('image-preview');
    const previewHeader = document.getElementById('image-preview-header');
    const deleteButton = document.getElementById('delete-image');
    const svgIcon = document.getElementById('input-svg'); // Select the SVG element
    const reader = new FileReader();

    reader.onload = function () {
        preview.src = reader.result;
        preview.classList.remove('hidden');
        deleteButton.classList.remove('hidden');
        svgIcon.classList.add('hidden'); // Hide the SVG icon
    };

    if (input.files && input.files[0]) {
        reader.readAsDataURL(input.files[0]);
        previewHeader.classList.remove('hidden');
        input.classList.add('hidden');
    }
}

function deleteImage(event) {
    event.preventDefault();
    const input = document.getElementById('id_file');
    const preview = document.getElementById('image-preview');
    const previewHeader = document.getElementById('image-preview-header');
    const deleteButton = document.getElementById('delete-image');
    const svgIcon = document.getElementById('input-svg'); // Select the SVG element

    input.value = '';
    preview.src = '';
    input.classList.remove('hidden');
    preview.classList.add('hidden');
    deleteButton.classList.add('hidden');
    previewHeader.classList.add('hidden');
    svgIcon.classList.remove('hidden'); // Show the SVG icon back when image is removed
}
</script>