<div id="create-post-modal" hx-get="{% url 'home' %}" hx-swap="delete"
     class="fixed inset-0 z-[999999] flex items-center justify-center bg-black bg-opacity-50">
    <div onclick="event.stopPropagation()" class="bg-white shadow-xl min-w-[600px] max-w-[800px] p-12 rounded-3xl">
        <div class="flex flex-inline items-center gap-3 mb-8">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" fill="#dc2626"
                 class="icon icon-tabler icons-tabler-filled icon-tabler-edit">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M15 5l4 4l-9 9h-4v-4z"/>
                <path d="M12 3l3 3"/>
            </svg>
            <h2 class="text-3xl font-medium">Create a New Post</h2>
        </div>

        <form hx-post="{% url 'post_create' %}" hx-target="#create-post-modal" hx-swap="outerHTML"
              class="flex flex-col gap-2 min-w-[600px]" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="flex flex-inline gap-3">
                <div class="form-group flex flex-col gap-1">
                    {{ post_form }}
                </div>
                <div class="form-group flex flex-col gap-1 text-white max-h-[19em] overflow-y-auto overflow-x-hidden">
                    <div class="relative">
                        <label for="id_file" class="cursor-pointer">
                            <svg id="input-svg" xmlns="http://www.w3.org/2000/svg" width="37" height="37"
                                 viewBox="0 0 24 24" fill="none" stroke="#D4D4D4" stroke-width="1.2" stroke-linecap="round"
                                 stroke-linejoin="round"
                                 class="absolute top-1/2 left-7 -translate-x-1/2 translate-y-[calc(50%-23px)]">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <path d="M15 8h.01"/>
                                <path d="M12.5 21h-6.5a3 3 0 0 1 -3 -3v-12a3 3 0 0 1 3 -3h12a3 3 0 0 1 3 3v6.5"/>
                                <path d="M3 16l5 -5c.928 -.893 2.072 -.893 3 0l3.5 3.5"/>
                                <path d="M14 14l1 -1c.679 -.653 1.473 -.829 2.214 -.526"/>
                                <path d="M19 22v-6"/>
                                <path d="M22 19l-3 -3l-3 3"/>
                            </svg>
                        </label>
                        <div class="absolute top-1/2 cursor-pointer pointer-events-none left-[100px] w-max -translate-x-1/2 translate-y-[calc(50%-10px)] text-[#D4D4D4]">Choose photo</div>
                        {{ attachment_form.as_p }}
                    </div>
                    <div class="flex flex-col items-center">
                        <div id="image-preview-header"
                             class="w-48 h-full rounded-2xl hidden">
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="bg-red-600 hover:bg-red-700 text-white py-2.5 mt-4 rounded-full font-medium">
                Create Post
            </button>
        </form>
    </div>
</div>

<style>
    .file-input::file-selector-button {
        display: none;
        color: white;
    }
</style>

<script>
    function previewImage(event) {
        const input = event.target;
        const previewContainer = document.getElementById('image-preview-header');
        const svgIcon = document.getElementById('input-svg');
        const files = input.files;

        if (files.length > 0) {
            for (let i = 0; i < files.length; i++) {
                const file = files[i];
                const reader = new FileReader();
                reader.onload = function (e) {
                    const imgContainer = document.createElement('div');
                    imgContainer.classList.add('flex', 'items-center', 'justify-between', 'flex-row-reverse', 'w-full', 'h-12', 'p-[2px]', 'rounded-xl', 'border-[2.5px]', 'border-gray-300', 'mb-1');

                    const img = document.createElement('img');
                    img.src = e.target.result;
                    img.classList.add('rounded-[10px]');
                    img.style.maxWidth = '100%';
                    img.style.maxHeight = '100%';

                    const deleteButton = document.createElement('button');
                    deleteButton.classList.add('hover:text-red-500', 'text-gray-300', 'text-xl', 'pr-3', 'rounded-md', 'grid', 'place-items-center');
                    deleteButton.innerHTML = '&times;';
                    deleteButton.onclick = function () {
                        imgContainer.remove();
                        const newFiles = Array.from(input.files).filter(file => file !== files[i]);
                        const dataTransfer = new DataTransfer();
                        newFiles.forEach(file => dataTransfer.items.add(file));
                        input.files = dataTransfer.files;
                        if (previewContainer.children.length === 0) {
                            previewContainer.classList.add('hidden');
                        }
                    };
                    imgContainer.appendChild(deleteButton);
                    imgContainer.appendChild(img);
                    previewContainer.appendChild(imgContainer);
                };
                reader.readAsDataURL(file);
            }
            previewContainer.classList.remove('hidden');
        }
    }
</script>